body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.error-message {
    color:red;
}

.oculto {
    display: none;
}

.nav navbar-nav{
    padding:2px;
}
.navbar-img {
    margin-top:3px;
    height: 50px;
    width: auto;
}
.logo{
    height: 50px;
    width: auto;
    float:left; 
}
.logoupo{
    height: 50px;
    width: auto;
    float:right;

}
.informacion{
    font-style: italic;
    font-size: large;
    
}
.footer{
    position: fixed;
    bottom:0px;
    width:100%;
    margin:0;
    padding: 0;
    height:3%;
    background-color: lightsteelblue;
    font-size: small;
    font-style: oblique;
    color:black;
}

#container{
    height:90%;
}
#contenedor-mapa{
    height:90%;
    border-color: gray;
    border-radius: 2%;
}
#contenedor-users{
    height:90%;
}
#contenedor-tareas{
    height:90%;
}
#contenedor-jornadas{
    height:90%;
}
#contenedor-informes{
    height:90%;
}
#contenedor-centrals{
    height:90%;
}
